#nav-logo{
	height: 85px;
	position: absolute;
	margin-left: -5px;
	margin-top: -20px;
}
.bg-indigo{
	background: #9561e2;
}

@media (max-width: 768px) {
  #nav-logo {
    position: relative;
    margin-top: -12px;
  }
}
